@font-face {
    font-family: 'Merriweather';
    src: url(./assets/font/Merriweather-Regular.ttf), format("ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Merriweather';
    src: url(./assets/font/Merriweather-Italic.ttf), format("ttf");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Merriweather';
    src: url(./assets/font/Merriweather-Bold.ttf), format("ttf");
    font-style: bold;
    font-weight: bold;
}

:root {
    --merryFont: Merriweather, 'Times New Roman', Times, serif;
    --plainFont: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--plainFont);
    font-size: 1.6rem;
    background: url(./assets/greyfloral.png) fixed;
}

#root {
    height: 100dvh;
}


