@font-face {
    font-family: 'DM Mono';
    src: url(./assets/font/DMMono-Regular.ttf), format("ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'DM Mono';
    src: url(./assets/font/DMMono-Italic.ttf), format("ttf");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'DM Mono';
    src: url(./assets/font/DMMono-Medium.ttf), format("ttf");
    font-style: bold;
    font-weight: 500;
}

:root {
    --monoFont: "DM Mono", monospace;
    --plainFont: 'Courier New', Courier, monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--monoFont);
    font-size: 1.6rem;
    background: url(./assets/greyfloral.png) fixed;
}



